{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    <h1>Wordtag!</h1>
    <div id="navigation">
      <ul>
        {% if user.is_authenticated %}
        <li>Hi, {{ user.username }}!</li>
        {% if user.profile.photo %}
        <li><img width="75px" src="{{ user.profile.photo.url }}" alt="you" /></li>
        {% endif %}
        <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
        <li><a href="{% url 'home' %}">Home</a></li>
        {% else %}
        <li><a href="{% url 'accounts:login' %}">Login</a></li>
        <li><a href="{% url 'accounts:register' %}">Register</a></li>
        {% endif %}
      </ul>
    </div>
    <div>
      {% block content %}{% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/site.js' %}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
