{% extends "layout.html" %}
{% load static %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}
  <h1>{{ post.title }}</h1>
  <span>Posted at: {{ post.created_at }}</span>
  <p>
    {{ post.body }}
  </p>
  {% if user.is_authenticated and post.blog.user == user %}
    <form id="delete-post">
      {% csrf_token %}
      <button>Delete</button>
    </form>
  {% endif %}
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/delete_post.js' %}"></script>
{% endblock %}
